services:
  app:
    # image: josemokeni/folio-adrien:latest
    build:
      context: .
      dockerfile: Dockerfile.prod
    volumes:
      - .:/var/www/html
    restart: always
    networks:
      # - traefik-public
      - default
    ports:
      - 80:80
    depends_on:
      - db
  db:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_USER: folio_user
      POSTGRES_PASSWORD: secure_password
      POSTGRES_DB: folio_db
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - default

volumes:
  db_data:
