services:
  app:
    image: josemokeni/folio-adrien:latest
    restart: always
    labels:
      - traefik.enable=true
      - traefik.http.routers.folio-adrien.rule=Host(`domain.com`)
      - traefik.http.routers.folio-adrien.entrypoints=websecure
      - traefik.http.routers.folio-adrien.tls.certresolver=leresolver
      - traefik.http.services.folio-adrien.loadbalancer.server.port=80
    networks:
      - traefik-public
      - default
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_USER: folio_user
      POSTGRES_PASSWORD: secure_password
      POSTGRES_DB: folio_db
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - default

volumes:
  db_data:

networks:
  traefik-public:
    external: true
